{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem saepe ratione asperiores mollitia tempora nesciunt nisi facere modi quae. Necessitatibus dignissimos possimus earum harum, eum vitae laudantium delectus architecto. Suscipit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem saepe ratione asperiores mollitia tempora nesciunt nisi facere modi quae. Necessitatibus dignissimos possimus earum harum, eum vitae laudantium delectus architecto. Suscipit?</p>
{% endblock content %}